Byte-compiled / optimized / DLL files

pycache/
*.py[cod]
*$py.class

Virtual environment

.venv/
venv/
ENV/
env/

Data and output files

/data/
*.csv
*.zip

Kaggle API key

kaggle.json
.kaggle/

Jupyter Notebook checkpoints

.ipynb_checkpoints/

VSCode and IDE settings

.vscode/
.idea/

OS files

.DS_Store
Thumbs.db

